@import 'scss-reset/_reset.scss';
@import 'fonts';
@import 'helpers';

// Global styles;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: $main;
  color: $light;
}


.app {
  @include flex;
  justify-content: space-between;
  height: 986px;
}

.main {
  width: 60%;
}

.right-aside, .left-aside {
  height: 100%;
  background: $background;
  padding: 48px 0 48px 38px;
}

.page-container {
  padding: 0 68px;
}

